.App {
  text-align: center;
}

.ui.form input[type=text],
.ui.form input[type=password],
.ui.form select {
  margin-top: 10px
}

.signout {
  float: right;
  position: relative;
  top: 4px;
  right: 15px;
}