* {
  box-sizing: border-box;
}
body {
  background: white;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

.signout {
  float: right;
  position: relative;
  top: 4px;
  right: 15px;
}